# Environment variables
.env

# Node dependencies
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database-related files
*.sqlite
*.db
*.sql
config/config.json

# npm debug files
npm-debug.log*

# IDE-specific files
.idea/
.vscode/

# Misc
*.bak
*.tmp
package-lock.json