<!DOCTYPE html>
<html>

<head>
  <title>
    DAB - Rent Vehicles
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body>
  <div class="container-fluid mt-5 text-center">
    <%- include('./partials/navbar.ejs', {user: user}) %>
  </div>
  <div id="contentDiv">
      <h1>Vehicle Rentals</h1>
      <h2>Welcome to 127.0.0.1</h2>
      <div >
        <img src="./img/CarRental.jpg" alt="RentVehicle">
      </div>
  </div>
</body>
</html>